@import "../../../styles/settings.scss";

.link {
  padding: 15px 0;
  font-weight: 700;
  font-size: 14px;
  transition: $linear;
  color: black;
  text-transform: uppercase;

  a {
    color: black;
    text-decoration: none;
    &:hover {
      color: $font-hover;
    }
  }
}

.subList {
  list-style-type: none;
  padding: 0px 30px;
  opacity: 0;
  overflow: hidden;
  height: 0;
  transition: 0.3s linear all;
  &--active {
    opacity: 1;
    height: 34px;
  }
  &__toggler {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  &__icon {
    color: $font-gray;
  }
}

@media (min-width: 1024px) {
  .link {
    margin: 0 15px;
    padding: 10px 0;
    position: relative;
    color: white;
    font-size: 14px;
    font-weight: 900;
    transition: 0s linear all;
    a {
      color: white;
    }
    &::before {
      content: "";
      opacity: 1;
      position: absolute;
      width: 0%;
      height: 2px;
      background-color: $font-hover;
      transition: $linear;
      left: 0;
      right: 0;
      z-index: 100;
      bottom: -1px;
    }
    &--active {
      color: $font-hover;
      a {
        color: $font-hover;
      }
      &::before {
        width: 100%;
        opacity: 1;
      }
    }
  }
  .subList {
    padding: 0;
    position: absolute;
    &__icon {
      display: none;
    }
  }
}
