@import "../../../styles/settings.scss";
.navbar {
  z-index: 101;
  margin: 20px 20px 0px;
  &__wrapper {
    box-shadow: 0 3px 10px 0px rgba(0, 0, 0, 0.1);
    padding: 25px 20px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  &__dropDown {
    overflow: hidden;
    transition: 0.3s linear all;
    background-color: white;
    width: 100%;
    margin: 1px 0;
    position: absolute;
    top: 100%;
    left: 0;
    opacity: 0;
    transform: translateY(20px);
    visibility: hidden;
    &--active {
      visibility: visible;
      opacity: 1;
      transform: translateY(0px);
    }
  }
  &__list {
    list-style-type: none;
    padding: 20px;
  }
}
