@import "../../../styles/settings.scss";

.primaryButton {
  border: 2px solid #222;
  border-radius: 40px;
  color: black;
  font-weight: 600;
  padding: 15px 25px;
  margin: 10px 0;
  background-color: transparent;
  transition: $linear;
  text-transform: uppercase;
  &:hover {
    color: white;
    background-color: $font-hover;
    border-color: $font-hover;
  }
}
.secondaryButton {
  border: 2px solid white;
}
