@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

/*Font-colors*/
$font-dark: #282828;
$font-hover: #bb9356;
$font-gray: #9b9b9b;
$font-yellow: #ffc80a;
/*Background-color*/
$back-dark: #282828;
/*Font-Family*/
$font-poppins: "Poppins", sans-serif;
$font-roboto: "Roboto", sans-serif;
/*Border-colors*/
$border-gray: #eee;
/*Shadow*/
